@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	text-align: center;
	align-items: center;
	background-color: #e5a730;
	letter-spacing: 1.5px;
	font-family: Verdana, sans-serif;
}

body p {

	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
body h1,h3{
	font-family: 'Carrois Gothic SC', sans-serif;
}
h1{
	font-size: 34px;
}

#slogan{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;


}

.parag{
	width: 1000px;
	margin-left: 200px;
	text-align: left;
	line-height: 1.5;
}

ul{
	text-align: left;
	margin-left: 180px;
	font-size: 12px;
	line-height: 1.5;
}

hr{
	width: 1200px;
	color: #fff;

}

.contact{
	text-align: left;
	margin-left: 200px;
	
}
header, nav, article, section, div, footer{
    border: 1px black solid;
    padding: 20px;
}

header {
    background-color: #FFED74;
}
nav{
	ackground-color: #E8C66A;
}
article{
	ackground-color: #E89C6C;
}
div, section{
	ackground-color: #FFE2B8;

}
footer{
	ackground-color: #FF957E;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.services-left{
	float: left;
	width: 30%;
	padding: 2%;
	display: block;
	text-align: left;
	margin-left: 10%;
	height: 200px;
	background-color: #bec0c2;
	border: none;
	
}
.services-left ul{
	margin-left: 10px;
}
.services-right{
	float: right;
	width: 30%;
	padding: 2%;
	display: block;
	text-align: left;
	margin-right: 10%;
	height: 200px;
	background-color: #bec0c2;
	border: none;
}
.parag{
	width: 350px;
	display: block;
	margin-left: 10px;
}
.p1, .p2, .p3, .p4{
	float: left;
	padding: 5%;
	background-color: #e4e1dc;
	
}
.p1 {
	margin-left: 10.5%;
}
.p2, .p3, .p4{
	margin-left: 8.5%;
}
