body {
	text-align: center;
	align-items: center;
	background-color: #e5a730;
	letter-spacing: 1.5px;
	font-family: Verdana, sans-serif;
}

body p {

	font-size: 14px;
}

#slogan{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

.parag{
	width: 1000px;
	margin-left: 200px;
	text-align: left;
	line-height: 1.5;
}

ul{
	text-align: left;
	margin-left: 180px;
	font-size: 12px;
	line-height: 1.5;
}

hr{
	width: 1200px;
	color: #fff;

}

.contact{
	text-align: left;
	margin-left: 200px;
	
}



